//
//  Debug.xcconfig
//
//  Created by Patrick Piemonte on 3/26/13.
//

#include "Base.xcconfig"

SWIFT_OPTIMIZATION_LEVEL = -Onone
GCC_OPTIMIZATION_LEVEL = 0
GCC_PREPROCESSOR_DEFINITIONS = $(INHERITED) DEBUG=1

SWIFT_TREAT_WARNINGS_AS_ERRORS = YES
GCC_TREAT_WARNINGS_AS_ERRORS = YES

CLANG_ANALYZER_SECURITY_INSECUREAPI_STRCPY = YES
CLANG_ANALYZER_SECURITY_FLOATLOOPCOUNTER = YES

ALWAYS_SEARCH_USER_PATHS = NO
COPY_PHASE_STRIP = NO
ONLY_ACTIVE_ARCH = YES
